* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
list-style: none;
}

.container {
  background-color: #DED59B;
}

.btn-primary-ltw{
  color: green;
  background: #B7E96C;
}

.btn-primary-GH{
  color: #FFFFFF;
  background: #3E2714;
}


/*---------- Navigation ------------*/
.navbar {
  background-color: #3B2817;
  opacity: 50%;
}

.navbar .navbar-nav {
  flex-direction: row;
}

.navbar .navbar-nav a.nav-link {
  display: flex;
  padding: 0px 10px;
  border: solid 1px;
  color: #fff;
  margin-left: 10px;
  align-items: center;
  text-align: center;
}

.header {
  /* height: 60px; */
}

.header img {
  height: 40px;
  width: 40px;
}

.header ul {
  margin-bottom: 0px;
  margin-right: 10px;
  padding:0px;
}
.header ul li {
  display: inline-block;
  margin: 0px 2px;
}

/*----------- Message ------------*/
.message {
  margin-top: 56px;
  text-align: center;
  padding: 10px 0px;
  color: #3B2817;
}

/*----------- Projects (Cards) --------------*/
#projects {
margin-top: 40px;
}

.card {
  margin: 5px;
  height: 450px;
  text-align: center;
}

#projects .card {
  background-color: #9F7B4A;
}

.card-img-top{
margin-top: 8px;
}

/*----------- Bottom Panels ------------*/

#latest_project {
  border-right: solid 2px;
}

#skills ul {
list-style: initial;
}

.footlinks {
  text-align: center;
  margin-bottom: 10px;
}

.centertext{
  text-align: center;
  margin: 8px;
}

.centertextcontact{
  /* text-align: center; */

}

.bottomcontact img{
  height: 40px;
  width: 40px;
}

.bottomcontact{
  padding-left: 20px;
}

.bottomcontact li{
  display: inline-block;
}

.profilepic {
  max-height: 300px;
  max-width: 180px;
  float: left;
  margin-right: 15px;
}

.card-text-body{
  font-size: .8rem;
}

.introduction{
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}

#Contact_Me{
  margin: 40px 0px;
}

#latest_project {
  text-align: center;
}

.quote{
  margin: 40px 0px;
}

#Contact_Me > .col-12{
  padding-left: 0px;
  padding-right: 0px;
}


/*----------- Footer -----------*/
.footer {
  background-color: #3B2817;
  color: #fff;
  /* padding: 10px 5px; */
  margin-top: 5px;
}

.aboutmetext{
  text-align: left;
  margin: 10px;
}

.centertexttitle{
  text-align: center;
}

/*---------- Media Query --------------*/

@media (max-width: 1200px){
  .card {
    height: 550px;
    text-align: center;
  }

  .LTW{
    margin-top: 5px;
  }
}


@media (max-width: 767px) {
  #latest_project {
    border-right: none;
    border-bottom: solid 2px;
    margin-bottom: 10px;
  }

  #skills {
    border-right: none;
    border-bottom: solid 2px;
    margin-bottom: 10px;
  }

  #projects{
    margin: 0px 5px;
  }

  .profilepic {
    max-height: 200px;
    max-width: 130px;
  }

  .header img {
    height: 25px;
    width: 25px;
  }
  .message {
    margin-top: 42px;
  }
}

@media (max-width: 767px){

    .LTW{
    margin-top:0px;
    }

    .card {
      margin: 10px 0px;
      height: 500px;
      text-align: center;
    }

}


@media (max-width:580px ) {
  .header ul {
  display: none;
  }
  .navbar .navbar-nav a.nav-link {
    font-size: .8rem;
  }
  .message {
    margin-top: 37px;
  }
}

@media (max-width:401px){
  .LTW{
  margin-top:5px;
  }
}
